
.drag-and-drop-q6 {
    width: 390px;
    height: 264px;
    border: 1px dashed #c5c5c5;
    border-radius: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    background: #fff;
}

.drag-and-drop-icon{width: 66px; height: 46px; margin: 0 auto; background-position: center; background-size: cover;
background-image: url(/img/cloud-upload.png);
background-repeat: no-repeat;}


.drag-and-drop-title{font-size: 12px}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}
.dropdown-menu.show {
    min-width: 7rem !important;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;}
.dropdown-menu {  
    width: 5rem !important;
    padding: .0rem 0;}
    
    
  .input-mt{margin-top: 0.2rem;}  
    
    
 .output__description {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 416px;
}   

.output__description p { font-size: 0.88em !important;
    padding: 0 15px;
    font-size: 16px;
    line-height: 20px;
    margin: 20px 0;
}
.border-radius-0{border-radius: 0px !important}
