#img_trans{
width:88%; height:33%;
 border-top: 1px solid #d5dbdb;
 border-bottom: 3px solid #d5dbdb;


}
#trans_para1{
font-weight:inherit;
color: black!important;
font-size: 17px !important;
}
#trans_para{
  font-size:14px;
  font-weight:inherit;
}
#trans_service{
  color: black!important;

  font-weight: bold;
  background-color: #fafafa;
}
.main_con{
  border: 1px solid #d5dbdb; background-color: #fafafa;
}
.trans_link{

  font-size:14px;border-bottom: 3px solid #d5dbdb;
  padding: 0.5rem 0;
}

.trans_link1{font-size:14px;border-bottom: 1px solid #d5dbdb; padding: 0.5rem 0;}
.trans_div{

  border: 1px solid #d5dbdb; background-color: #fafafa;
}
#trans_div_p{
  margin-top:12px; margin-left:10px;
}
#trans_para3{
  border-bottom: 1px solid #d5dbdb;padding: 0.5rem 0; color: black;
font-size: 15px !important;
}
#trans_para4{
  border-bottom: 1px solid #d5dbdb;padding: 0.5rem 0;font-size: 15px !important;color: black;
}
#trans_para5{
font-size:14px; font-style: italic;color: black;
}
#trans_par_heading{
border-bottom: 1px solid #d5dbdb;padding: 0.5rem 0; font-size: 18px;

}
.trans_cont1{

  border-top: 2px solid;  border-bottom: 2px solid;
}
.trans_cont2{
  border-bottom: 2px solid #d5dbdb;
}
#trasn_para6{
font-size:14px !important;font-weight:inherit; color: black;

}
#trans_parastyle{
font-size:14px !important; font-weight:inherit;color: black;

}
.trasn_maincontain{

  border-bottom:3px solid  #d5dbdb;
}
#trans_Par{
  font-size:14px;font-weight:inherit;
  color: black;
  font-size: 13px !important;


}
@media screen and (max-width: 575px) {
   .trasn_maincontain{
    height: 100%
  }
}
.trans_div1{

  border: 1px solid #d5dbdb;
  background-color: #fafafa;
}
.card_2{
  color: black!important;
  border: 2px solid;
  font-weight: bold;
  background-color: #fafafa;
}
#tran_pp{
  color: black!important;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {

}
#trasn_text{ font-size: 14px!important;
margin-top: 10px;}
#media_ser{
  color: white;
  font-size: 12px!important;

}

#encod{
  color: white;
  font-size: 12px!important;
  margin-left: 12px;
}
#trans_encod{
  color: white;
}
#trans_head{
  color: white!important;
  font-size: 1.5vw!important;
}
.tarsn_list{
  font-size: 1.1vw!important;
  color:white;
}
#trasn_text{
  font-size: 1vw !important;
  margin-top: 23px;
  color: white;
}
#span_text,.span_text
{
  font-size: 15px !important;
}


/*  Gyan */
h1#trans_encod{padding-top:0; margin:6px;}
/*.inner_banner img {top: -85px;}*/
.inner_banner .banner_information{ top:-15px;}
 .inner_banner{   height: 60vh; min-height: 20rem ;}
.banner_information {
       max-width: 580px;
    background: rgba(220, 218, 218, 0.27);
    padding: 10px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 3px;
    top: -58px;
}
.banner_information .tarsn_list li{text-shadow:1px 2px 3px #000;}
.banner_information .tarsn_list li .fa {
    padding-right: 5px;
}

.how_work{text-align:center; padding:2em;}
.how_work h1{padding-bottom:15px;}
.how_work figure img{ margin:auto;}

.span_text,#span_text {font-size: 13px !important;
    text-align: justify;
    color: #000;
    line-height: 1.6;
}
#span_text {font-size: 13px !important;line-height:1.6; font-weight:400; color:#333}

.get_start:hover {
       outline: 1px solid #007bff;
    outline-offset: -5px;
    background: #fff !important;
    color: #007bff !important;
}

.get_start{padding: 12px 30px;
    transition: 0.5s;
	margin-bottom: 35px;
}
@media (max-width:500px)
{
  .span_text{
    font-size:11px !important;
    line-height: 18px !important;
  }
  #span_text{
    font-size:11px !important;
    line-height: 18px !important;
  }
}


/*add css by rohit kumar*/
.debg_service { width: 100%; }
.debg_service .container { max-width: 1170px !important; padding: 0px 15px; }
.debg_service figure { margin: 0px; width: 100%; text-align: center; }
.debg_service figure img { max-width: 100%; }
