.top_div{
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
      }
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link
{
  background-color:rgba(20,22,25,0.9) !important;
  color:white !important;
}
.sidebar-nav ul .sidebar-item .sidebar-link{
    color:white !important;
    opacity: 1 !important;
}
#navbarSupportedContent{
  background-color: inherit !important;
}
th{
  font-size:16px;
  color:black !important;
}
td{
  color:rgba(0,0,0,0.8) !important;
}
.page-item.active .page-link{
  background-color: #27a9e3!important;
  border:none !important;
}
.page-link{background-color: #ddd !important;
color:black; border:none !important;}
.scroll-sidebar{
  background-color: #1F262D !important;
}
