#input_text{
border: 1px solid gray !important;
padding: 1px;

}
th{
  color:rgba(0,0,0,0.9) !important;
  text-align: center;
  font-weight: 400;
}
td{
  color:rgba(0,0,0,0.6) !important;
  text-align: center;
}
.table_content{
  background-color:rgba(128,128,128,0.2) !important;
}
.table_img
{
  width:50px;
  height:45px;
  border-radius:50%;
}
@media screen and (max-width: 760px) {
  .pagination_new {
    position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .show_entity {
    position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  #input_text{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;


  }
  #select_box{
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;


  }

}
#select_box{padding: 1px;
font-size: 18px;}
