.overlay_sell {
  height: 0%;
  width: 30%;
  position: fixed;
  z-index: 11111111;
  margin-top: 240px;
  margin-left: 620px;
  /*background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);*/
  background-color: black;
  overflow-y: hidden;
  overflow-x  : hidden;
  transition: 0.5s;
}

.overlay-content_sell {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay_sell a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay_sell a:hover, .overlay_sell a:focus {
  color: #f1f1f1;
}

.overlay_sell .closebtn_sell {
  position: absolute;
  top: -10px;
  right:5px;
  font-size: 40px;
}
