.home_dashboard{
  margin:10px;
}
.order-card {
    color: #fff;
    height:180px;
}
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 10px;
}

.order-card i {
    font-size: 20px;
}
.f-left {
    float: left;
}

.f-right {
    float: right;
}
.font_l{
  font-size:13px !important;
  margin-top:55px;
  color:black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.font-sm
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.img_list{
  height:90px !important;
  width:100%;
  position: absolute;
opacity:0.8;
}




.card-img-top {

    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 96px;

}
.seller_list_card
{
border-radius: 5px;
box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
border: none;
margin-bottom: 30px;
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;

}
